# Sport APIs
BALLDONTLIE_API_KEY=your_balldontlie_api_key_here
APIFOOTBALL_API_KEY=your_apifootball_key_here

# AWS
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=eu-west-1
S3_BUCKET_NAME=sport-analytics-raw

# Snowflake
SNOWFLAKE_ACCOUNT=your_account.eu-west-1
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=SPORT_ANALYTICS
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=SYSADMIN

# Airflow
AIRFLOW_UID=50000
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin

# App
LOG_LEVEL=INFO
ENV=development
